<div class="grid md:grid-cols-2 grid-cols-1 overflow-y-auto items-center h-full">
  <div class="md:flex hidden justify-center text-secondary-darker">
    <mat-icon fontSet="material-icons-outlined"
              class="xl:flex hidden h-full w-fit mr-1 text-icon-large">local_library
    </mat-icon>
    <span class="text-9xl font-mono font-bold">Libro<br>Mind</span>
  </div>

  <p class="grid justify-center items-center overflow-y-auto h-full md:border-l-2 border-l-gray-300 p-5
            text-zinc-700 font-mono font-bold tab text-justify">
    In case of a problem you can find us at:<br>Phone Number: 025 675 8976
    <br>Email: customerservice@libromind.com
  </p>
</div>
