<div class="grid grid-cols-2 items-center h-full">
    <div class="flex justify-center text-zinc-700">
        <mat-icon fontSet="material-icons-outlined"
            class="text-icon-large h-full w-fit flex mr-1">local_library</mat-icon>
        <span class="text-9xl font-mono font-bold">Libro<br>Mind</span>
    </div>

    <div class="flex text-l justify-center h-3/4 border-l-2 border-l-gray-300 items-center p-5 
            text-zinc-700 font-mono font-bold">
        <p>
            In case of a problem you can find us at:<br>Phone Number: 025 675 8976
            <br>Email: customerservice@libromind.com
        </p>
    </div>
</div>