<div class="flex items-center h-full">
    <div class="flex flex-1 justify-center text-zinc-700">
        <mat-icon fontSet="material-icons-outlined"
            class="text-icon-large h-full w-fit flex mr-1 text-primary">local_library</mat-icon>
        <span class="text-9xl font-mono font-bold text-primary">Libro<br>Mind</span>
    </div>
    <mat-tab-group class="flex flex-1 justify-center h-3/4 how-to-borrow-tabs
        border-l-2 border-l-gray-300">
        <mat-tab label="Short tab" class="h-full">
            <div class="h-full mat-elevation-z4">
                Small content
            </div>
        </mat-tab>
        <mat-tab label="Long tab">
            <div class="h-full mat-elevation-z4">
                Large content
            </div>
        </mat-tab>
    </mat-tab-group>
</div>