<div class="grid grid-cols-2 items-center h-full">
    <div class="flex justify-center">
        <mat-icon fontSet="material-icons-outlined"
            class="text-icon-large h-full w-fit flex mr-1 text-secondary-darker">local_library</mat-icon>
        <span class="text-9xl font-mono font-bold text-secondary-darker">Libro<br>Mind</span>
    </div>
    <mat-tab-group class="flex justify-center h-3/4 how-to-borrow-tabs
        border-l-2 border-l-gray-300">
        <mat-tab label="Dashboard">
            <div class="mat-elevation-z4">
                When you first enter LibroMind, the first page is the Dashboard page. From here you can click the 
                "Books" button from the navbar or the "here" button from the dashboard and start browsing.
            </div>
            <img src="assets/1.png">
        </mat-tab>
        <mat-tab label="Books">
            <div class=" mat-elevation-z4">
                You are now on the Books page where you can see all the books from all the libraries on this website.
                When you find the right book for you just click on it.
            </div>
            <img src="assets/2.png">
        </mat-tab>
        <mat-tab label="Details of the book" >
            <div class="mat-elevation-z4">
                You were taken to the details page of your chosen book. Here you have to select the library from where
                you want to borrow the book and then click the "Borrow button".
            </div>
            <img src="assets/3.png">
        </mat-tab>
        <mat-tab label="Borrow">
            <div class="mat-elevation-z4">
                If all the information is correct you can go ahead and click Yes! Done, you just made a request to borrow
                a book. Now all you have to do is go and pick it up in the next 24 hours.
            </div>
            <img src="assets/4.png">
        </mat-tab>
    </mat-tab-group>
</div>