<div class="grid grid-cols-2 items-center h-full">
    <div class="flex justify-center text-zinc-700">
        <mat-icon fontSet="material-icons-outlined"
            class="text-icon-large h-full w-fit flex mr-1 text-primary">local_library</mat-icon>
        <span class="text-9xl font-mono font-bold text-primary">Libro<br>Mind</span>
    </div>
    <mat-tab-group class="flex justify-center h-3/4 how-to-borrow-tabs
        border-l-2 border-l-gray-300">
        <mat-tab label="Step 1" class="h-full">
            <div class="h-full mat-elevation-z4">
                Step 1
            </div>
        </mat-tab>
        <mat-tab label="Step 2">
            <div class="h-full mat-elevation-z4">
                Step 2
            </div>
        </mat-tab>
    </mat-tab-group>
</div>