<div class="grid grid-cols-2 items-center h-full">
    <div class="flex justify-center text-zinc-700">
        <mat-icon fontSet="material-icons-outlined"
            class="text-icon-large h-full w-fit flex mr-1">local_library</mat-icon>
        <span class="text-9xl font-mono font-bold">Libro<br>Mind</span>
    </div>

    <p class="flex text-l justify-center h-3/4 border-l-2 border-l-gray-300 items-center p-5 
            text-zinc-700 font-mono font-bold tab text-justify">
        &nbsp;&nbsp;&nbsp;&nbsp;LibroMind was created with the intention of simplifying the
        life of book lovers. Our aim is to provide you with the opportunity to easily search through your local library
        catalog and discover discover the books to your liking.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Additionally, you'll have access to reviews from other readers to assist you in
        making your selection. Once you've found your desired books, you can place a borrow request immediately
        through our website and have it ready for pick-up for the next 24 hours.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;If the standard 2-week
        borrowing period is insufficient, you can easily extend it. At LibroMind, we're committed to making your
        library experience as enjoyable and effortless as possible.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;With our user-friendly interface and
        convenient borrowing options, you'll never have to worry about missing out on your next favorite read.
        Are you still waiting? Start exploring our library catalog today and find your next literary adventure!
    </p>
</div>