<footer class="relative bg-primary flex h-16 items-center mt-4
        text-center text-secondary text-xl font-mono font-medium">
    <a [routerLink]="['/about']" class="flex-1">
        <span class="border-l-2 border-primary-darker hover:brightness-75 hover:contrast-150
                hover:drop-shadow-md hover:bg-primary px-2">
            About
        </span>
    </a>

    <a [routerLink]="['/contact']" class="flex-1">
        <span class="border-l-2 border-primary-darker hover:brightness-75 hover:contrast-150
                hover:drop-shadow-md hover:bg-primary px-2">
            Contact
        </span>
    </a>

    <a [routerLink]="['/how-to-borrow']" class="flex-1">
        <span class="border-l-2 border-primary-darker hover:brightness-75 hover:contrast-150
                hover:drop-shadow-md hover:bg-primary px-2">
            How to borrow
        </span>
    </a>

    <a [routerLink]="['/terms-and-conditions']" class="flex-1">
        <span class="border-l-2 border-primary-darker hover:brightness-75 hover:contrast-150
                hover:drop-shadow-md hover:bg-primary px-2">
            Terms & Conditions
        </span>
    </a>
</footer>