<footer class="bg-primary flex h-16 items-center text-center text-white text-xl font-mono font-medium">
    <a [routerLink]="['/']" class="flex-1">
        <span class="border-l-2 border-secondary pl-2">About</span>
    </a>

    <a [routerLink]="['/']" class="flex-1">
        <span class="border-l-2 border-secondary pl-2">Contact</span>
    </a>

    <a [routerLink]="['/']" class="flex-1">
        <span class="border-l-2 border-secondary pl-2">How to borrow</span>
    </a>

    <a [routerLink]="['/']" class="flex-1">
        <span class="border-l-2 border-secondary pl-2">Terms & Conditions</span>
    </a>
</footer>