<mat-toolbar class="mb-8" color="primary">
    <mat-toolbar-row class="inline-block mat-elevation-z11 px-16">
        <span routerLink="/" class="h-full flex items-center float-left hover:cursor-pointer">LibroMind</span>

        <button class="float-right h-full rounded-none" mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="h-full flex link-btns float-right">
            <a mat-button class="flex h-full items-center rounded-none" routerLink="/dashboard"
                routerLinkActive="active">Dashboard</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
