<div class="grid xl:grid-cols-3 md-lg:grid-cols-2 grid-cols-1 gap-4 sm:px-8 px-2 py-2 justify-items-center
     max-h-fullscreen overflow-y-auto app-scrollbar">
  <mat-card *ngFor="let library of libraries$ | async" class="md-lg:w-96 w-full max-w-sm gap-4 p-4 md-lg:m-5
  justify-items-center">
    <div class="flex flex-col items-center">
      <h1 class="italic">Library</h1>
      <a [routerLink]="['/library', library.id, 'books']" [matTooltip]="'Check out the books at ' + library.name"
         matTooltipPosition="above" class="w-full text-center text-xl font-sans font-bold overflow-hidden
         whitespace-nowrap text-ellipsis">
        {{library.name}}
      </a>
    </div>

    <div class="flex flex-col items-center">
      <h1 class="italic">Location</h1>

      <a href="{{library.address.map}}" [matTooltip]="'Go to Maps location:&#10;' + createLibraryAddress(library)"
         class="w-full text-secondary text-center text-lg font-sans overflow-hidden whitespace-nowrap text-ellipsis"
         matTooltipClass="multiline-tooltip">
        {{createLibraryAddress(library)}}
      </a>
    </div>
  </mat-card>
</div>
