@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "custom-theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tab {
  tab-size: 8;
}

.multiline-tooltip {
  white-space: pre-line;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: 0px !important;
}

.app-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.app-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.app-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

:hover.app-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4d5056;
}

.profile-form .mdc-floating-label {
  color: #4d5056 !important;
}

.profile-form .mdc-text-field__input {
  color: #4d5056 !important;
}

.profile-form .mat-from-field-appearance-outline {
  color: green !important;
}
