<div class="grid md:grid-cols-2 grid-cols-1 overflow-y-auto items-center h-full">
  <div class="md:flex hidden justify-center text-secondary-darker">
    <mat-icon fontSet="material-icons-outlined"
              class="xl:flex hidden h-full w-fit mr-1 text-icon-large">local_library
    </mat-icon>
    <span class="text-9xl font-mono font-bold">Libro<br>Mind</span>
  </div>

  <p class="grid justify-center items-center overflow-y-auto h-full md:border-l-2 border-l-gray-300 p-5
            text-zinc-700 font-mono font-bold tab text-2xl italic text-justify">
    <span>
      A travel agency for the mind because as Dr. Seuss said "The more that you read, the more things you will know. The
      more that you learn, the more places you'll go."
    </span>

    <span>Start searching the right book to start a new adventure
      <a class="hover:underline text-primary link-shadow" [routerLink]="['/books']">here.</a>
    </span>
  </p>
</div>
